@charset "UTF-8";

/* ! Regras Gerais */
* {
    margin: auto;
    padding: 0px;
}

/* Fontes */
@font-face {
    font-family: 'Netflix Sans';
    src: local(Netflix), url('../fonts/NetflixSansRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Netflix Sans';
    src: local(Netflix), url('../fonts/NetflixSansMedium.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Netflix Sans';
    src: local(Netflix), url('../fonts/NetflixSansThin.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --font: 1em 'Netflix Sans', sans-serif, Arial;

    --backcol: #f40612;
}

/*-------------------*/

/* * Static         */
   /* TODO Box-level */
   body {
       font: var(--font);
       background: black; color: #fff;
   }

   header {
       position: absolute;
       z-index: 100;
       width: 100%;
       display: flex; justify-content: space-between;
       max-width: 1270px;
       top: 28px;
       left: 50px;
   }

   main {
       height: 600px; text-align: center;
       background: 
       linear-gradient(to top, transparent, 75%, #000000), linear-gradient(to bottom, transparent, 75%, #000000), url(./imagens/website_large.jpg);
       display: flex; align-items: center; justify-content: center;
   }
   main h1 {
       width: 550px;
       font-size: 3em;
   }
   form {
       display: grid;
       grid-template-columns: 400px 190px;
       margin-top: 30px; margin-bottom: 10px;
   }

   section {
       padding: 4rem 0; padding-left: 70px; padding-right: 75px;
       display: flex; align-items: center; align-content: center;
   }

   .container h1 {font-weight: 600;}

  /* TODO Inline-level */
  header img, header a {margin: 0px;}

  header a {
      display: inline-block;
      background-color: var(--backcol); color: #fff;
      padding: 7px 12px; margin-bottom: 10px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.545);
  }

  input[type=text], button {margin: 0px;}

  input[type=text] {
      padding: 20px 10px;
  }

  button {
      display: grid; border-style: none;
      padding-top: 12px; padding-left: 5px;
      background-color: var(--backcol); color: white;
      font-size: 1.55em;
      box-shadow: inset 0.5px 0.5px 10px rgba(0, 0, 0, 0.545);
    }
  button span {margin: 0px; font-size: 0.35em;}

/*-------------------*/

/* * Animat         */
   /* TODO Box-level */
  /* TODO Inline-level */

/*-------------------*/

/* * Events         */
  
   /* TODO Class */

/*-------------------*/

/* ! Class */
.p_1 {font-size: 26px;}
.p_2 {font-size: 19px;}

.container {
    max-width: 1130px;
    font-size: 1.8em;
    margin-right: 300;
}

/*-------------------*/

/* ! IDs */
#video_tv {
    position: absolute;
    right: 76px;
    bottom: -351px;
    z-index: -1;
}

/*-------------------*/