@charset "UTF-8";

/* ! Regras Gerais */
* {
    margin: auto;
    padding: 0px;
}

/* Fontes */
@font-face {
    font-family: 'Netflix Sans';
    src: local(Netflix), url('../fonts/NetflixSansRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Netflix Sans';
    src: local(Netflix), url('../fonts/NetflixSansMedium.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Netflix Sans';
    src: local(Netflix), url('../fonts/NetflixSansThin.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --font: 1em 'Netflix Sans', sans-serif, Arial;

    --backcol: #f40612;
}

/*-------------------*/

/* * Static         */
   /* TODO Box-level */
   body {
       font: var(--font);
       background: black; color: #fff;
   }

   header {
       position: absolute;
       z-index: 100;
       width: 100%;
       display: flex; justify-content: space-between;
       max-width: 1270px;
       top: 28px;
       left: 50px;
   }

   main {
       height: 600px; text-align: center;
       background: 
       linear-gradient(to top, transparent, 75%, #000000), linear-gradient(to bottom, transparent, 75%, #000000), url(./imagens/website_large.jpg);
       display: flex; align-items: center; justify-content: center;
   }
   main h1 {
       width: 550px;
       font-size: 3em;
   }
   form {
       display: grid;
       grid-template-columns: 400px 190px;
       margin-top: 30px; margin-bottom: 10px;
   }

   section {
       padding: 4rem 0; padding-left: 70px; padding-right: 75px;
       display: flex; align-items: center; align-content: center;
   }

   .container h1 {font-weight: 600;}

   footer {color: #757575; width: 900px; padding: 50px;}

   footer p {padding-left: 30px; padding-top: 10px;}

   ul {columns: 4; padding-top: 10px; padding-bottom: 0px;}

   svg {
       position: absolute;
       left: 69em;
       top: 0;
       fill: none;
       stroke: rgb(43, 42, 42);
       stroke-dasharray: 150 480;
       stroke-dashoffset: 150;
       transition: 1s ease-in-out;
   }

  /* TODO Inline-level */
  header img, header a {margin: 0px;}

  header a {
      background-color: var(--backcol); color: #fff;
      padding: 7px 12px; margin-bottom: 10px;
  }

  input[type=text], button {margin: 0px;}
  
  input[type=text] {
      padding: 20px 10px;
      border-radius: 15px 0px 0px 15px;
  }

  button {
      display: grid; border-style: none;
      padding-top: 12px; padding-left: 5px;
      background-color: var(--backcol); color: white;
      font-size: 1.55em;
      box-shadow: inset 0.5px 0.5px 10px rgba(0, 0, 0, 0.545);
      border-radius: 0px 10px 10px 0px;
  }
  button span {margin: 0px; font-size: 0.35em;}
  
  hr {padding: 4px; background-color: rgb(41, 41, 41); border-style: none;} 

  img {position: relative; z-index: 1;}
  
  li {
      list-style: none; 
      padding-top: 5px;
      width: 155px;
  }

  li a {
      text-decoration: none;
      color: #757575; 
      font-size: 0.8em; font-weight: 600;
  }

  .btn span {
    font-size: 18px;
    font-weight: 100;
  }

/*-------------------*/

/* * Animat         */
   /* TODO Box-level */
   .btn:hover {
     transition: 1s ease-in-out;
     background: #da4f4f;
   }
   
   .btn:hover svg {
     stroke-dashoffset: -480;
   }
   /* TODO Inline-level */
   ul a:hover {text-decoration: underline;}

/*-------------------*/

/* * Events         */
  
   /* TODO Class */

/*-------------------*/

/* ! Class */
.p_1 {font-size: 26px;}
.p_2 {font-size: 19px;}

.container {
    max-width: 1130px;
    font-size: 1.8em;
    margin-right: 300;
}

.container_tv {position: relative;}

.img_etc {width: 500px;}

.btn {
    cursor: pointer;
    background: transparent;
    border: 1px solid #ffab91;
    padding-right: 18px; padding-left: 21px;
}

/*-------------------*/

/* ! IDs */
#video_tv1 {
    position: absolute;
    width: 400px;
    top: 78px;
    left: 62px;
}

#video_tv2 {
    position: absolute;
    width: 310px;
    top: 42px;
    left: 90px;
}

/*-------------------*/