@charset "UTF-8";

/* ! Regras Gerais */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
   text-decoration: none; list-style: none; border-style: none;
}

/* Fontes */
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansRegular.ttf') format('truetype');
}
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansMedium.ttf') format('truetype');
   font-weight: 600;
}
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansThin.ttf') format('truetype');
   font-weight: 400;
}
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansIcon.ttf') format('truetype');
   font-weight: 300;
}

:root {
   --font: 1em 'Netflix Sans', sans-serif, Arial;

   --backcol: #f40612;
}

/*-------------------*/

/* * Static         */
   /* TODO Box-level */
   body {background-color: black;}

   header {
      background-color: #141414;
      padding: 16px 0;
      font: var(--font);
   }

   header nav {padding: 10px;}

   .container_outdoor img, .container_outdoor p {
      max-width: 480px;
   }

   .container_outdoor p {
      text-align: justify;
      font-size: 1.2em; font-weight: 500; 
      letter-spacing: 2px;
      padding-top: 10px; padding-bottom: 15px;
   }

   nav {scrollbar-width: none}

  /* TODO Inline-level */
  br {padding-inline-end: 40em;}

  header img {max-width: 100px;}

  header li {margin-left: 15px; font-weight: 300;}

  header i {
     font-size: 18px; font-weight: bold;
     cursor: pointer;
     padding-inline: 15px;
  }

  .circle_notification span {
     font-size: 10px;
     vertical-align: 20px;
  }

  button {color: black; margin-right: 15px;}

  .row_posters img {padding: 5px;}

    /* TODO Inline-level\Box-level */

    header nav, header li {display: inline-block;} 

/*-------------------*/

/* * Animat         */
   /* TODO Box-level */
  /* TODO Inline-level */
  #butao:hover {background-color: rgba(77, 77, 77, 0.508);}

  .row_posters img:hover {transform: scale(1.1);}

/*-------------------*/

/* * Events         */

   /* TODO Class */

/*-------------------*/

/* ! Class */
.center{
   display: flex; flex-wrap: wrap; align-items: center;
   max-width: 1480px;
   margin: 0;
   padding: 0 2%;
}

.clear{clear: both;}

.icon-search {font-size: 20px;}
.icon-bell-alt {font-size: 25px;}

.notification {position: relative;}

.circle_notification {
   position: absolute;
   left: 25px; top: 0;
   width: 14px; height: 14px;
   border-radius: 10px;
   background-color: var(--backcol);
   text-align: center;
}

.container_outdoor {
   background-image: linear-gradient(0deg, transparent, 80%, #000000), linear-gradient(180deg, transparent, 70%, #000000), url('imgs/magi.jpg');
   background-size: cover;
   background-position: center;
   width: 100%;
   min-height: 600px;
   padding: 60px 70px;
   font: var(--font);
}

.much_information {background-color: #646464; color: white;}

.row_posters {
   margin-right: 10px;
   transition: trasform 450ms;
}

.row_posters {
   display: flex;
   overflow-y: hidden;
   padding: 20px;
}

/*-------------------*/

/* ! IDs */
#butao {
   font-size: 1.4em;
   padding: 8px 25px;
   border-radius: 4px;
}

/*-------------------*/