@charset "UTF-8";

/* ! Regras Gerais */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Fontes */
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansRegular.ttf') format('truetype');
}
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansMedium.ttf') format('truetype');
   font-weight: 600;
}
@font-face {
   font-family: 'Netflix Sans';
   src: local(Netflix), url('../fonts/NetflixSansThin.ttf') format('truetype');
   font-weight: 400;
}

:root {}

/*-------------------*/

/* * Static         */
   /* TODO Box-level */
   body {background-color: grey;}

   header {
      background-color: #141414;
      padding: 16px 0;
   }

   header nav {padding: 10px;}


  /* TODO Inline-level */
  header img {max-width: 100px;}

  header a {color: white; text-decoration: none;}

  header li {margin-left: 15px;}

    /* TODO Inline-level */

    header nav, header li {display: inline-block;} 

/*-------------------*/

/* * Animat         */
   /* TODO Box-level */
  /* TODO Inline-level */

/*-------------------*/

/* * Events         */
  
   /* TODO Class */

/*-------------------*/

/* ! Class */
.center{
   display: flex; flex-wrap: wrap;
   align-content: space-between; align-items: center;
   max-width: 1280px;
   margin: 0;
   padding: 0 2%;
}

.clear{clear: both;}

/*-------------------*/

/* ! IDs */

/*-------------------*/